// Colors
// Primary
$grayishblue: hsl(237, 18%, 59%);
$softred: hsl(345, 95%, 68%);
// Neutral
$white: hsl(0, 0%, 100%);
$darkdesaturated: hsl(236, 21%, 26%);
$verydarkblue: hsl(235, 16%, 14%);
$verydark: hsl(234, 17%, 12%);
